.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #141E30; */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* background: linear-gradient(to right, #243B55, #141E30); */
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.title:hover{
    transform: scale(1.6);
  }

  img {
    max-width: 50%;
    max-height: 50%;
    background-color: #141E30;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    /* width: 10px; */
  }

  .title > img{
    width: auto;
    height: auto;
  }

  .title > h4{
    margin: 5px 0;
  }

  .describe{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    width: 95%;
  }